.fixed .column-count,
.fixed .column-type {
	width: 10%;
}

.fixed .column-compression {
	width: 15%;
}
.column-compression meter {
	width: 100%;
}

.fixed .column-last-modified,
.fixed .column-expires {
	width: 12%;
}
